
// polices
$font-third: 'Reem Kufi', sans-serif;
$font-titles: 'Give You Glory', cursive;
$font-capitalize-text: 'Esteban', serif;
$font-text: 'Expletus Sans', cursive;
$font-buttons: 'Esteban', serif;

// colors
$color-primary: #85a6a4;
$color-secondary: #aac1c0;
$color-third: #d4dfdf;
$color-dark: #625a5a;
$color-grey-light: #F5F5F5;
$color-grey: #EFEFEF;

// box shadows
$box-shadow: 0 10px 35px 0 rgb(0 0 0 / 18%);

